.update,
.search {
  background: #f6d518;
  padding: 10px;
  display: flex;
  align-items: center;
  column-gap: 15px;
  width: max-content;
  border-radius: 6px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.update.disabled {
  cursor: not-allowed;
  background: #c8c8c8;
}

.update.disabled .icon {
  animation: rotating 0.5s infinite linear;
}

.update:hover {
  background: #f7d82b;
  box-shadow: 3px 3px 3px rgba(213, 228, 78, 0.215);
  transform: scale3d(1.01, 1.01, 1.01);
}

.actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.search {
  cursor: default;
  background: #838383;
}

.search:focus-within {
  background: #f6d518;
}

.search:focus-within input::placeholder {
  color: #838383;
}

.search input {
  border: none;
  background: none;
  outline: none;
  font-weight: 600;
  font-family: 'Montserrat';
  font-size: 18px;
  color: rgb(36, 34, 34);
}

.search input::placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.search .tooltip {
  position: absolute;
  color: red;
  font-weight: 500;
  bottom: -70%;
  right: 0;
  font-size: 18px;
}

.search .icon.loading {
  animation: rotating 0.5s infinite linear;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}
